<!DOCTYPE html>
<html>
<head>
  <title><%= t 'exceptions.title' %></title>
  <%= stylesheet_link_tag  'rails_exceptions/error' %>
  <%#= csrf_meta_tags %>
</head>
<body onload="main_body_load();" onresize="main_body_load();">
<%= render 'partials/site_title' %>

<div class='div_body' id="divBody">
  <div id="ContentDataFull" class="content_data">
    <div id="ContentData">
      <%= yield %>
    </div>
  </div>
</div>
<%= render 'partials/footer' %>
</body>
</html>
